* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    background: #06283D;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
  position: absolute;
  top: 10px; 
  left: 10px;
  color: white;
  font-size: 1,5rem;
  font-weight: bold;
}

.app-container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.container {
    position: relative;
    width: 400px;
    height: 105px;
    background: #fff;
    padding: 28px 32px;
    overflow: hidden;
    border-radius: 18px;
    font-family: 'Roboto', sans-serif;
    transition: 0.6s ease-out;
}

.temp-switcher-btn {
    background-color: #06283D;
    color: white;
    font-size: 18px;
    padding: 15 px 30 px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    font-family: 'Roboto', sans-serif;
    min-width: 35px;
    height: 6opx;
    margin-top: 20px;
}

.temp-switcher-btn:hover {
    background-color: #1D5F73;
    transform: translateY(-2px);
}

.temp-switcher-btn:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.temp-switcher-btn.active {
    background-color: #1D5F73;
    font-weight: bold;

}